<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viaje+</title>
    <link rel="stylesheet" href="../static/cliente/pagamento_reserva.css">
</head>
<body>
    <div class="corpo">
        <div class="pagamento">
            <form action="/pagar" method="post">
            <h1> Reserva</h1>
            <br>
            <a>{{ nome }}</a>
            <br> <br>
            <a><b>Quantidade de assentos:</b>  {{ assentos_select}}</a>
            <br>
            <a><b>︎Preço a se pagar:</b>    {{ preco *  assentos_select }}</a>
            <br>
            <button type="submit"> Pagar</button>
            </form>
        </div>

    </div>
</body>
</html>