<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administração Viaje+</title>
    <link rel="stylesheet" href="../static/adm/controleAdm.css">
    <link rel="stylesheet" href="../static/adm/voltar.css">
</head>
<body>




<div class="voltar">
    <a href="/deslogar">sair</a>
</div>
<div class="corpo">
    <div class="onibus">
        <h2> Onibus Cadastrados</h2>
    <a href="/dados_onibus"><button>verificar</button></a>
    </div>

    <div class="passageiros">
        <h2> Passageiros </h2>
    <a href="/dados_passageiros"> <button> verificar</button> </a>
    </div>

    <div class="viagens">
        <h2> Viagens Cadastradas</h2>
        <a href="/dados_viagens"> <button> verificar</button> </a>
    </div>

    <div class="viagens">
        <h2> Cadastrar Viagens</h2>
        <a href="/pagina_viagemCadastro"> <button> cadastrar</button> </a>
    </div>

</div>

</body>
</html>