<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viaje+</title>
    <link rel="stylesheet" href="../static/adm/verificacaoAdm.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=location_on" />
     <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<header class="cabecalho">
        <img src="../static/img/Viaje+_logo.png">
        <a href="/"  class="linkSobreLogo"></a>
        <a href="/rotasHorarios" > Rotas e Horários</a>
        <a href="/loginuser" > Login</a>
        <a href="/verificarAdm" > Acesso adm</a>

         {% if 'cliente' in session: %}
            <a href="/deslogar"> deslogar</a>
         {% endif %}
    </header>

    <div class="senhaAdm">
        <h1> Login Administrativo</h1>
        <br><br>
        <form action="/login_adm" method="post" target="_top">
          <label> Senha</label>
            <br>
            <input type="password" placeholder="Digite sua senha" name="senhaAdm">
            <br>
            <button type="submit"> ENTRAR</button>
        </form>
    </div>

<br><br><br><br>

  <footer class="rodape">
        <div class="rodape_cima">
            <div class="logo">
                <img src="../static/img/Viaje+_logo.png">
            </div>
             <div class="redes">
               <a> <b>nossas redes sociais </b></a>
            <a href="https://www.instagram.com/ana.lluizaax" target="_blank" class="instagram-link"> <i class="fab fa-instagram"></i>
            </a>
             </div>
        </div >
        <div class="rodape_baixo">
            <div class="coluna">
                <h3> <b>INSTITUCIONAL</b></h3>
                <a href="#"> Sobre Nós</a>
                <br>
            </div>
            <div class="coluna">
                <h3> <b>AJUDA</b></h3>
                <a href="#"> Perguntas Frequentes</a>
                <br>
                <a href="#"> Relatar Erro</a>
                <br>
            </div>
        </div>
    </footer>

</body>
</html>