<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dados Viagens</title>
      <link rel="stylesheet" href="../static/adm/voltar.css">
        <link rel="stylesheet" href="../static/dados/dados_viagens.css">
</head>
<body>
    <div class="voltar">
    <a href="/login_adm">voltar</a>
</div>
    <h1> DADOS DAS VIAGENS</h1>

    <div class="container-cards">
        {% for viagem in dados_viagens %}
        <div class="card card-viagem">
            <div class="card-content">
            <br>
                <a>Origem: {{ viagem.origem }} </a>
                <br>
                <a>Destino: {{ viagem.destino }} </a>
                <br>
                <a>Id da viagem: {{ viagem.id }} </a>
                <br>
                <a>Nome do Motorista: {{ viagem.motorista }} </a>
                <br>
                <a>Quantidade de assentos totais: {{ viagem.assentos_totais }} </a>
                <br>
                <a> Data de partida: {{ viagem.data }} </a>
                    <br>
                <a>Horario de partida: {{ viagem.horario_partida }} </a>
                    <br>
                <a>Horario de chegada: {{ viagem.horario_chegada }} </a>
                    <br>
                <a>Valor da passagem: {{ viagem.valor }} </a>
                    <br>
               <a href="/assentos?viagem_id={{ viagem.id }}" target="_blank">checar assentos disponíveis</a>

                {% for reserva in reserva_dados %}
                    {% if reserva.assentos and reserva[2] == viagem.id %}
                        <h2>  Passageiros:</h2>

                        <a> Cpf do passageiro: {{reserva[0]}}</a>
                        <br>
                        <a> assento(s) escolhido(s): {{reserva[1]}}</a>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
          {% endfor %}
    </div>


</body>
</html>