body {
    background-color: #e8f0ee;
    min-height: 100vh;

}
.page-center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-card {
    background-color: #46ab89;
    width: 520px;
    padding: 35px 40px;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


.form-card h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 25px;
}


.form-card label {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}


.form-card input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    outline: none;
    font-size: 14px;
}


.form-card button {
    width: 100%;
    background-color: #0d3c5f;
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 12px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}


.form-card button:hover {
    background-color: #092d47;
}