body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    background-color: #f4f4f4;
}


.container-assentos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 10px;
    max-width: 400px;
}


.assento {
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    user-select: none;
}


.assento.livre {
    background-color: #2ecc71;
}


.assento.ocupado {
    background-color: #e74c3c;
    cursor: not-allowed;
}



