.corpo{
    display: center;
    align-items: center;
    justify-content: center;
}

.pagamento{
    margin-top: 200px;
    margin-left: 42%;
    background-color: #577590;
    width: 300px;
    height: 300px;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius:10px;
}
.pagamento input{
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid white;
}
.pagamento a{
    color: #0A3D62;

}

.pagamento label{
    margin-right: 80%;
}
.pagamento button{
    margin-top: 30px;
    margin-bottom: 5px;
    background-color:#0A3D62;
    color:#F5F5F5;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #0A3D62;
     width: 60%;
    height: 40px;
}