body{
background-color: grey;

}














.corpo{
    margin-top: 150px;
     items-align: center;
     text-align: center;
    justify content: center;
}


.filtro{

 }
 .catalogo_viagens{
    background-color: white;
    cursor:pointer;
 }