body{
   background-color:rgba(255, 255, 255, 0.75);
    margin: 0;
}
.cabecalho{
    width: 100%;
    height: 80px;
    background-color: #0A3D62;
    color: #1E90FF;
    display: flex;
    padding:0 35px;
    align-items: center;
    top: 0;
    left: 0;
}
.cabecalho a{
     color: #FF8C42;
     text-decoration: none;
     margin: 0 40px;
     font-size: 19px;
     font-family: "Oswald", sans-serif;
}

.cabecalho img {
    width: 300px;
    height: 300px;
}

.linkSobreLogo {
  position: absolute;
  top: 10px;
   left: 35px;
  width: 200px;
  height: 60px;
  display: block;
  background: transparent;
}
.rodape{
    background-color: #002B5B;
    color: rgba(255, 255, 255, 0.9);
    height: 20%;
    width: 100%;
    bottom: 0;
    left: 0;
     margin-top: auto;
}

.rodape_cima{
    justify-content:center;
    background-color:  #0A3D62;
    display: flex;
    align-items: center;
    width: 100%;
    height: 15vh;
}

}

.rodape_baixo{
    display: flex;
     justify-content: space-between;
    width: 100%;
    height: 20vh;
    gap: 50px;
}
.coluna{
    text-align: left;
}

.coluna a{
    color: #FF8C42;
     text-decoration: none;
     margin: 0 40px;
     font-size: 19px;
     font-family: "Oswald", sans-serif;
}


.rodape b{
    color: gray;

}

.rodape img{
    width: 200px;
    height: 200px;
    margin: 0px;
}
.rodape i{
    height: auto
     padding: 0 20px;
     width: 12vh;
}
.instagram-link {
  font-size: 30px;
  color: white;
  text-decoration: none;
  margin: 10px;
}

.instagram-link:hover {
  color: #ff66a5;
}




.cima{

    color:#002B5B;
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.cima select{
    border-radius: 5px;
     color:#002B5B;

}


.corpo{
    width: 100%;
    padding: 20px 0;
    background-color: #577590;

}

.viagem{
    height: 300px;
    width:100%;
}

.viagem-topo{
        font-family: "Oswald", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
       background-color:#ffffff;
        display: flex;
      cursor: pointer;
      gap: 50%;
}
.viagem-topo_direita{
    display: grid;
}
.viagem-topo_direita b{
    color: black;
}
.viagem-topo_direita p{
    color:#404447;
}
.viagem-topo_esquerda{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.viagem-topo_esquerda h2{
    color: #1e90ff;
}


.viagem-conteudo{
    margin-top: 50px;
    border-radius: 8px;
     display: flex;
     flex-wrap: wrap;
      gap: 8px;
    justify-content: center;
     max-height: 0;
      padding: 0 15px;
      overflow: hidden;
}

.viagem-conteudo form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}
.viagem-conteudo button{
    margin-top: 50px;
}
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label {
    background: #1E90FF;
    color: black;
    border-color: #1E90FF;
}


.assento_livre{
     width: 35px;
    height: 35px;
    border: 2px solid black;
    color: lightblue;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.assento_ocupado{
     width: 35px;
    height: 35px;
    border: 2px solid gray;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}




.viagem-conteudo.open{
        margin-left: 30%;
        width: 130vh;
        max-height: 500px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
         border: 2px solid black;
}

.descricoes{
    display: flex;
}


