.cadastro{
    padding-top: 10px;
     margin-left: 42%;
    background-color: #577590;
    width: 500px;
    height: 500px;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius:10px;
}

.cadastro input{
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid white;
}

.cadastro label{
    margin-right: 80%;
}
.cadastro button{
    margin-top: 30px;
    margin-bottom: 5px;
    background-color:#0A3D62;
    color:#F5F5F5;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #0A3D62;
     width: 60%;
    height: 40px;
}