.login{
    margin-left: 42%;
    background-color: #577590;
    width: 300px;
    height: 300px;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius:10px;
}
.login input{
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid white;
}
.login a{
    color: #FF8C42;
    text-decoration: none;
}

.login label{
    margin-right: 80%;
}
.login button{
    margin-top: 30px;
    margin-bottom: 5px;
    background-color:#0A3D62;
    color:#F5F5F5;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #0A3D62;
     width: 60%;
    height: 40px;
}