<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viaje+</title>
    <link rel="stylesheet" href="../static/cadastroUser.css">
</head>
<body>
   <div class="cadastro">
        <form action="/criarconta" method="post">
            <h1> Criação de Conta</h1>
            <label>Nome</label>
            <input name="nome" type="text" placeholder="digite seu nome">
            <br>
            <label>Cpf</label>
            <input name="cpf"  type="text" placeholder="digite seu cpf">
            <br>
            <label>E-mail</label>
            <input name="email" type="email" placeholder="digite seu e-mail">
            <br>
            <label>Senha</label>
            <input name="senha"  type="password" placeholder="digite sua senha">
            <br>
            <button type="submit"> Entrar</button>
        </form>
   </div>
</body>
</html>