<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Viaje+</title>
    <link rel="stylesheet" href="../static/homePage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=location_on" />
</head>
<body>
<div class="propaganda">
    <div class="selerotas">
        <h1> Selecione sua rota</h1>
        <br>
        <form action="/buscar_rotas" method="post">
        <select id="viagem_origem" name="opcoes_viagem_origem" >
            <option value="" disabled selected> Origem</option>
            <option value="Sousa" >Sousa</option>
            <option value="Vieropolis"> Virópolis</option>
            <option value="Tenente Ananias" >Tenente Ananias</option>
            <option value="Santa Cruz">Santa Cruz</option>
        </select>
        <br>
        <select id="viagem_destino" name="opcoes_viagem_destino">
             <option value="" disabled selected> Destino</option>
            <option value="Sousa" >Sousa</option>
            <option value="Vieropolis">Vierópolis</option>
            <option value="Tenente Ananias" >Tenente Ananias</option>
            <option value="Santa Cruz">Santa Cruz</option>
        </select>
        <br> <br> <br>
        <button type="submit" ><b>Buscar</b></button >
        </form>
    </div>
</div>

</body>
</html>