<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viaje+</title>
    <link rel="stylesheet" href="../static/loginUser.css">
</head>
<body>
    <div class="login">
        <h1> Login</h1>
        <label>Email</label>
        <form action="/login_usuario" method="post">
        <input name="email" type="email" placeholder="digite seu e-mail">
        <label>Senha</label>
        <input name="senha"  type="password" placeholder="digite sua senha">
        <button type="submit"> Entrar</button>
        <br>
        <a href="/cadastrouser">Cliente novo? Cadastre-se aqui.</a>
        </form>
    </div>
</body>
</html>