<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viaje+</title>
    <link rel="stylesheet" href="../static/paginaIframe.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>

    <header class="cabecalho">
            <img src="../static/img/Viaje+_logo.png">
            <a href="/homePage" target="meuIframe" class="linkSobreLogo"></a>
            <a href="/rotasHorarios" target="meuIframe"> Rotas e Horários</a>
            <a href="/loginuser" target="meuIframe"> Login</a>
            <a href="/verificarAdm" target="meuIframe"> Acesso adm</a>
    </header>
    <iframe name='meuIframe' src="/homePage"> </iframe>
</body>
</html>