<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viaje+</title>
    <link rel="stylesheet" href="../static/verificacaoAdm.css">
</head>
<body>
    <div class="senhaAdm">
        <h1> Login Administrativo</h1>
        <br><br>
        <form action="/login_adm" method="post" target="_top">
          <label> Senha</label>
            <br>
            <input type="password" placeholder="Digite sua senha" name="senhaAdm">
            <br>
            <button type="submit"> ENTRAR</button>
        </form>
    </div>
</body>
</html>