<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Viaje+</title>
    <link rel="stylesheet" href="../static//viagens.css">
    <script src="../static/viagens_abrir.js"></script>.

</head>
<body>
    <div class="corpo">
        <h2>Passagens:  {{viagens[0][0]}} -Para- {{viagens[0][1]}}</h2>
        <br>
        <a> {{viagens|length}} viagens encontradas</a> <!-- filtro para o length -->
        <br> <br>
        <a> Horário</a>
        {% for viagem in viagens: %}
            <br>
            <div class="viagem">
                <div class="viagem-topo" onclick="toggleCard()">
                    <p>{{viagem[0]}}  </p>
                    <p>{{viagem[1]}}  </p>
                    <hr>
                </div>
                <div class="viagem-conteudo" id="viagem-conteudo">
                    <form action="/reservar_assento">
                    {% for i in range(1, viagem[4] + 1) %} <!-- mais um pq coneça do 1 -->
                        {% if i|string in viagem[9] %} <!-- o i|string tranforma o i em string -->
                            <div class= "assento_livre">
                                <input type="checkbox" id="assento{{i}}" name="assentos" value="{{i}}">
                                <label for="assento{{i}}" class="assento livre">{{ i }}</label>
                            </div>
                        {% else %}
                        <div class="assento_ocupado"> <a>❌</a> </div>
                            {% endif %}
                    {% endfor %}
                    <button> enviar</button>
                    </form>
                </div>
        </div>
        <br>
        {%endfor%}
    </div>


</body>
</html>